* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  font-family: 'Roboto', Helvetica, sans-serif;

  background: #222;
  color: white
}

main {
  max-width: 800px;
  padding: 2rem;
  background: #333;
  border-radius: 10px;
}

main h1 {
  font-size: 2.5rem;
  margin-bottom: 2rem;
}

main #search-form form {
display: flex;
gap: 0.5rem;
margin-bottom: 1rem;
}

main #search-form input {
  width: 100%;
  height: 28px;
  border-radius: 4px;
  border: none;
  padding: 0px 10px;
}

main #search-form button {
  background: rgb(228, 77, 183);
  color: white;
  height: 28px;
  padding: 0px 20px;
  border-radius: 4px;
  border:none
}

#weather-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#info h2 {
font-size: 1.2rem;
margin-bottom: 1rem;
font-weight: 400;
}

#info span {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.2rem;
  }